<h1>KALAN VERİ MİKTARI</h1>
Kalan Veri Miktarı : <%= @balance.remaining_data %> <br>
Kalan Dakika Miktarı :  <%= @balance.remaining_voice %> <br>
Kalan Sms Miktarı : <%= @balance.remaining_sms %> <br>
Tarife Bitiş Tarihi :  <%= @balance.expiration_date %> <br>