<h1>HOŞGELDİNİZ</h1> <br>
Sayın <%= @customer.first_name + " " + @customer.last_name %> <br>
Numaranız :<%= @msisdn.msisdn_number %> <br>
Tarifeniz <%= @customer_rateplan.name %> <br>
Bakiyeniz <%= @wallet.amount %> <br>
	